<% include ../partials/header.ejs %>

  <% if (locals.user) { %>

    <!-- Welcome -->
    <section class="container">
      <div class="row">
        <div class="12u">
          <!-- Create an Event -->
          <section class="box">
            <h3>Create New Event</h3>
            <form method="post" action="/event/create">
              <fieldset>
                <div class="row uniform 50%">
                  <div class="6u 12u(mobilep)">
                    <input type="text" name="name" placeholder="Event name">
                  </div>
                  <div class="6u 12u(mobilep)">
                    <div class="select-wrapper">
  										<select name="type" id="type">
  											<option value="">- Event Type -</option>
                        <% types.forEach(function(types) { %>
                          <option><%=types.name%></option>
                        <% }); %>
  										</select>
										</div>
                  </div>
                </div>
                <div class="row uniform 50%">
                  <div class="12u">
                    <input type="text" name="description" placeholder="Description">
                  </div>
                </div>
                <div class="row uniform 50%">
                  <div class="6u 12u(mobilep)">
                    <input type="text" name="place" placeholder="Place">
                  </div>
                  <div class="6u 12u(mobilep)">
                    <input class="datepicker" name="date" type="text" value="Pick a date">
                      <script type="text/javascript">
                        $( '.datepicker' ).pickadate({
                          formatSubmit: 'dddd, yyyy/mm/dd',
                          closeOnSelect: true,
                          closeOnClear: true,
                        })
                        var picker = $input.pickadate('picker')
                      </script>
                  </div>
                </div>
                <div class="row uniform 50%">
                  <div class="6u 12u(mobilep) input-group bootstrap-timepicker timepicker">
                    <input class="timepicker" type="text" name="timeStart" placeholder="Start time">
                    <script type="text/javascript">
                      $( '.timepicker' ).pickatime({
                        formatSubmit: 'hh:mm',
                        closeOnSelect: true,
                        closeOnClear: true,
                      })
                      var picker = $input.pickatime('picker')
                    </script>
                  </div>
                  <div class="6u 12u(mobilep) input-group bootstrap-timepicker timepicker">
                    <input class="timepicker" type="text" name="timeEnd" placeholder="End time">
                    <script type="text/javascript">
                      $( '.timepicker' ).pickatime({
                        formatSubmit: 'hh:mm',
                        closeOnSelect: true,
                        closeOnClear: true,
                      })
                      var picker = $input.pickatime('picker')
                    </script>
                  </div>
                </div>
                <div class="row uniform 50%">
                  <div class="12u">
                    <ul class="actions">
                      <li>
                        <input type="submit" class="button">
                      </li>
                    </ul>
                  </div>
                </div>
              </fieldset>
            </form>
          </section>
        </div>
      </div>
    </section>
  <% } %>

<% include ../partials/footer.ejs %>
