<% include ../partials/header.ejs %>

  <% if (locals.user) { %>

    <!-- Welcome -->
    <section class="container">
      <div class="row">
        <div class="12u">
          <!-- Create an Event -->
          <section class="box">
            <h3>Create New Event</h3>
            <form method="post" action="/event/create">
              <fieldset>
                <div class="row uniform 50%">
                  <div class="6u 12u(mobilep)">
                    <input type="text" name="name" placeholder="Name">
                  </div>
                  <div class="6u 12u(mobilep)">
                    <input type="email" name="email" placeholder="Email">
                  </div>
                </div>
                <div class="row uniform 50%">
                  <div class="12u">
                    <input type="text" name="description" placeholder="Description">
                  </div>
                </div>
                <div class="row uniform 50%">
                  <div class="12u">
                    <input type="text" name="place" placeholder="Place">
                  </div>
                </div>
                <div class="row uniform 50%">
                  <div class="6u 12u(mobilep)">
                    <input
                      class="datepicker"
                      name="day"
                      type="text"
                      autofocus
                      value="14 August, 2017">
                  </div>
                  <div class="6u 12u(mobilep)">
                    <input type="time" name="time" placeholder="Time">
                  </div>
                </div>
                <div class="row uniform 50%">
                  <div class="12u">
                    <ul class="actions">
                      <li>
                        <input type="submit" class="button">
                      </li>
                    </ul>
                  </div>
                </div>
              </fieldset>
            </form>
          </section>
        </div>
      </div>
    </section>
  <% } %>

<% include ../partials/footer.ejs %>
