<% include ../partials/header.ejs %>

  <% if (locals.user) { %>

    <!-- Welcome -->
    <section class="container">
      <div class="row">
        <div class="12u">
          <!-- Create an Event -->
          <section class="box">
            <h3>Create New Event</h3>
            <form method="post" action="/event/create">
              <fieldset>
                <div class="row uniform 50%">
                  <div class="6u 12u(mobilep)">
                    <input type="text" name="name" placeholder="Event name">
                  </div>
                  <div class="6u 12u(mobilep)">
                    <input type="text" name="type" placeholder="Event type">
                  </div>
                </div>
                <div class="row uniform 50%">
                  <div class="12u">
                    <input type="text" name="description" placeholder="Description">
                  </div>
                </div>
                <div class="row uniform 50%">
                  <div class="12u">
                    <input type="text" name="place" placeholder="Place">
                  </div>
                </div>
                <div class="row uniform 50%">
                  <div class="6u 12u(mobilep)">
                    <input type="text" name="day" placeholder="Date">
                  </div>
                  <div class="6u 12u(mobilep) input-group bootstrap-timepicker timepicker">
                    <input class="timepicker" type="text" name="time" placeholder="Time">
                    <script type="text/javascript">
                      $('.timepicker').timepicker();
                    </script>
                  </div>
                </div>
                <div class="row uniform 50%">
                  <div class="12u">
                    <ul class="actions">
                      <li>
                        <input type="submit" class="button">
                      </li>
                    </ul>
                  </div>
                </div>
              </fieldset>
            </form>
          </section>
        </div>
      </div>
    </section>
  <% } %>

<% include ../partials/footer.ejs %>
