<!DOCTYPE HTML>
<!--
	Template Alpha by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>We•Chilling by ancestral-bang</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="/assets/css/main.css" type="text/css" />
		<script src="https://use.fontawesome.com/b86d3ae6bd.js"></script>

		<!-- Scripts -->
		<script src="/assets/js/jquery.min.js"></script>
		<script src="/assets/js/jquery.dropotron.min.js"></script>
		<script src="/assets/js/jquery.scrollgress.min.js"></script>
		<script src="/assets/js/skel.min.js"></script>
		<script src="/assets/js/util.js"></script>
		<script src="/assets/js/main.js"></script>

		<!-- pickdate -->
			<!-- pickadate theme -->
			<link rel="stylesheet" href="/pickadate/themes/default.css" type="text/css" />
			<link rel="stylesheet" href="/pickadate/themes/default.date.css" type="text/css" />
			<link rel="stylesheet" href="/pickadate/themes/default.time.css" type="text/css" />
			<!-- pickadate date -->
			<script src="/pickadate/picker.js"></script>
			<script src="/pickadate/picker.date.js"></script>
			<script src="/pickadate/picker.time.js"></script>
	</head>

	<body class="landing">
		<div id="page-wrapper">
			<!-- Nav Bar -->
			<header id="header">
				<h1><a href="/">We•Chilling</a> by ancestral-bang</h1>
				<nav id="nav">
					<ul>
						<li style="white-space: nowrap;"><a href="/">Home</a></li>
						<li style="white-space: nowrap;"><a href="http://ab-blog.herokuapp.com">Blog</a></li>
						<li style="white-space: nowrap;"> | </li>
						<% if (locals.user) { %>
							<li class="opener" style="user-select: none; cursor: pointer; white-space: nowrap; opacity: 1;">
								<a href="#" class="icon fa-angle-down"><%=locals.user.username%></a>
								<ul style="user-select: none; display: none;">
									<li style="white-space: nowrap;"><a href="/<%=locals.user.username%>/profile" style="display: block;">Profile</a></li>
									<li style="white-space: nowrap;"><a href="/<%=locals.user.username%>/event" style="display: block;">My Events</a></li>
								</ul>
							</li>
							<li>
								<form action="/event/create" method="get">
									<input class="button special" type="submit" value="Create Event"/>
								</form>
							</li>
							<li style="white-space: nowrap;">
								<form action="/logout" method="post">
									<input class="button special" type="submit" value="Sign Out"/>
								</form>
							</li>
						<% } else { %>
							<li style="white-space: nowrap;"><a href="/login" class="button">Login</a></li>
							<li style="white-space: nowrap;"><a href="/register" class="button">Register</a></li>
						<% } %>
					</ul>
				</nav>
			</header>
