<!DOCTYPE HTML>
<!--
	Template Alpha by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>We•Chilling by ancestral-bang</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />

		<!-- add Bootstrap v4 CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>

		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="/assets/css/main.css" type="text/css" />
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->

    <!-- Font Awesome Icon Pack -->
    <script src="https://use.fontawesome.com/b86d3ae6bd.js"></script>

	</head>

	<body class="landing">
		<div id="page-wrapper">
			<!-- Nav Bar -->
			<header id="header">
				<h1><a href="/">We•Chilling</a> by ancestral-bang</h1>
				<nav id="nav">
					<ul>
						<li style="white-space: nowrap;"><a href="/">Home</a></li>
						<li style="white-space: nowrap;"><a href="http://ab-blog.herokuapp.com">Blog</a></li>
						<% if (locals.user) { %>
						<li class="opener" style="user-select: none; cursor: pointer; white-space: nowrap;">
							<a href="#" class="icon fa-angle-down"><%=locals.user.username%></a>
						<ul style="user-select: none; display: none; position: absolute;">
								<li style="white-space: nowrap;"><a href="/profile/<%=locals.user.username%>" style="display: block;">Profile</a></li>
								<li style="white-space: nowrap;"><a href="/event/<%=locals.user.username%>" style="display: block;">My Events</a></li>
								<!-- Submenu if needed -->
								<!-- <li class="opener" style="user-select: none; cursor: pointer; white-space: nowrap;">
									<a href="#" style="display: block;">Submenu</a>
									<ul style="user-select: none; display: none; position: absolute;" class="dropotron">
										<li style="white-space: nowrap;"><a href="#" style="display: block;">Option One</a></li>
										<li style="white-space: nowrap;"><a href="#" style="display: block;">Option Two</a></li>
										<li style="white-space: nowrap;"><a href="#" style="display: block;">Option Three</a></li>
										<li style="white-space: nowrap;"><a href="#" style="display: block;">Option Four</a></li>
									</ul>
								</li> -->
							</ul></li>
							<li>
								<a href="/event/create" class="button">Create An Event</a>
							</li>
							<li style="white-space: nowrap;">
								<form action="/logout" method="post">
									<input class="button" type="submit" value="Logout"/>
								</form>
							</li>
							<% } else { %>
								<li style="white-space: nowrap;"><a href="/login" class="button">Login</a></li>
								<li style="white-space: nowrap;"><a href="/register" class="button">Register</a></li>
							<% } %>
					</ul>
				</nav>
			</header>
