<!-- Highlighted Categories -->
<div class="box alt">
  <div class="row no-collapse 50% uniform">
    <div class="4u">
      <span class="image fit">
        <%
          var monthNames = ["January", "February", "March", "April", "May", "June",
          "July", "August", "September", "October", "November", "December"];
          var today = new Date();
          var query = today.getDate() +"%20"+ monthNames[today.getMonth()]+",%20" + today.getFullYear();
        %>
        <a href="/search/date/<%=query%>">
          <img src="/images/today.png" alt=""/>
        </a>
      </span>
    </div>
    <div class="4u">
      <span class="image fit">
        <a href="/search/type/Movie%20Sesh">
          <img src="/images/movie.png" alt=""/>
        </a>
      </span>
    </div>
    <div class="4u">
      <span class="image fit">
        <a href="/search/type/Sports">
          <img src="/images/sports.png" alt=""/>
        </a>
      </span>
    </div>

    <div class="4u">
      <span class="image fit">
        <a href="/search/type/Arts%20&%20Culture">
          <img src="/images/arts.png" alt=""/>
        </a>
      </span>
    </div>

    <div class="4u">
      <span class="image fit">
        <a href="/search/type/Study%20Group">
          <img src="/images/studygroups.png" alt=""/>
        </a>
      </span>
    </div>

    <div class="4u">
      <span class="image fit">
        <a href="/search/type/Other">
          <img src="/images/other.png" alt=""/>
        </a>
      </span>
    </div>
  </div>
</div>
