<!-- Highlighted Categories -->
<div class="box alt">
  <div class="row no-collapse 50% uniform">
    <div class="4u">
      <span class="image fit">
        <img src="/images/today.png" alt=""/>
      </span>
    </div>
    <div class="4u">
      <span class="image fit">
        <a href="/search/type/Movie%20Sesh">
          <img src="/images/movie.png" alt=""/>
        </a>
      </span>
    </div>
    <div class="4u">
      <span class="image fit">
        <a href="/search/type/Sports">
          <img src="/images/basketball.png" alt=""/>
        </a>
      </span>
    </div>
  </div>
</div>
