<!-- Highlighted Categories -->
<div class="box alt">
  <div class="row uniform 50%">
    <div class="4u 12u(mobilep)">
      <span class="image fit">
        <%
          var monthNames = ["January", "February", "March", "April", "May", "June",
          "July", "August", "September", "October", "November", "December"];
          var today = new Date();
          var query = today.getDate() +"%20"+ monthNames[today.getMonth()]+",%20" + today.getFullYear();
        %>
        <a href="/search/date/<%=query%>">
          <img src="/images/today.png" alt=""/>
        </a>
      </span>
    </div>
    <div class="4u 12u(mobilep)">
      <span class="image fit">
        <a href="/search/type/Movie%20Sesh">
          <img src="/images/Movie%20Sesh.png" alt=""/>
        </a>
      </span>
    </div>
    <div class="4u 12u(mobilep)">
      <span class="image fit">
        <a href="/search/type/Sports">
          <img src="/images/Sports.png" alt=""/>
        </a>
      </span>
    </div>
  </div>
  <div class="row uniform 50%">
    <div class="4u 12u(mobilep)">
      <span class="image fit">
        <a href="/search/type/Arts%20&%20Culture">
          <img src="/images/Arts%20&%20Culture.png" alt=""/>
        </a>
      </span>
    </div>
    <div class="4u 12u(mobilep)">
      <span class="image fit">
        <a href="/search/type/Study%20Group">
          <img src="/images/Study%20Group.png" alt=""/>
        </a>
      </span>
    </div>
    <div class="4u 12u(mobilep)">
      <span class="image fit">
        <a href="/search/type/Other">
          <img src="/images/Other.png" alt=""/>
        </a>
      </span>
    </div>
  </div>
</div>
