<% include ./partials/header.ejs %>

	<% if (!locals.currentUser) { %>

		<!-- Title Banner -->
		<section id="banner">
			<h2>Amicus</h2>
			<p>A matchmaking app for social activities</p>
			<ul class="actions">
				<li><a href="/login" class="button"><i class="fa fa-sign-in" aria-hidden="true"></i> Log In</a></li>
				<li><a href="/signup" class="button"><i class="fa fa-user" aria-hidden="true"></i> Sign Up</a></li>
				<li><a href="#introduction" class="button"><i class="fa fa-sticky-note" aria-hidden="true"></i> Learn More</a></li>
			</ul>
		</section>

		<!-- Introduction -->
		<section id="main" class="container">
			<section id="introduction" class="box special">
				<header class="major">
					<h2>Introducing the ultimate app
					<br />
					for getting the most out of your free time</h2>
					<p>Know what your friends are doing. Post whatever you feel like doing<br />
					and connect with people who are interested in doing the same.</p>
				</header>
				<span class="image featured"><img src="images/pic01.jpg" alt="" /></span>
			</section>

			<section class="box special features">
				<div class="features-row">
					<section>
						<span class="icon major fa-futbol-o accent2"></span>
						<h3>Sports</h3>
						<p>Interested in playing sports with people who play just like you? Pick-up Basketball, Soccer, Pool and Chess matches divided by players' ability.</p>
					</section>
					<section>
						<span class="icon major fa-book accent3"></span>
						<h3>Study Groups</h3>
						<p>Do you have a CS midterm coming up and are you looking for people to study together? Group studies divided by subjects and learning styles</p>
					</section>
				</div>
				<div class="features-row">
					<section>
						<span class="icon major fa-film accent4"></span>
						<h3>Cultural Events</h3>
						<p>Staying on campus during a break and looking for people to watch a movie or go to the theater together? See who's up for a cultural event.</p>
					</section>
					<section>
						<span class="icon major fa-code accent5"></span>
						<h3>Project Groups</h3>
						<p>Do you have a great idea for an app or are you looking for people to discuss a Business case? See who's also looking for help with projects</p>
					</section>
				</div>
			</section>
		</section>

	<% } else { %>

		<!-- Welcome -->
		<section class="container">
			<section id="welcome" class="box special">
				<header class="major">
					<h2> Welcome, <%=currentUser.name%></h2>
					<a href="/logout"> Logout </a>
				</header>
				<p>
				  <a class="btn btn-primary" data-toggle="collapse" href="#createEventForm" aria-expanded="false" aria-controls="createEventForm">
				    Create an Event
				  </a>
				</p>
				<div class="collapse" id="createEventForm">
				  <div class="card card-block">
						<!-- Create an Event -->
						<form class="createevent" action="/event/create" method="POST">
							<div class="input-group mb-2 mr-sm-2 mb-sm-2">
								<div class="input-group-addon"><i class="fa fa-bell" aria-hidden="true"></i></div>
								<input class="form-control" name="event_name" type="text" placeholder="Event name">
							</div>
							<div class="input-group mb-2 mr-sm-2 mb-sm-2">
								<div class="input-group-addon"><i class="fa fa-barcode" aria-hidden="true"></i></div>
								<input class="form-control" name="event_type" type="text" placeholder="What kind of event is this?">
							</div>
							<div class="input-group mb-2 mr-sm-2 mb-sm-2">
								<div class="input-group-addon"><i class="fa fa-building" aria-hidden="true"></i></div>
								<input class="form-control" name="place" type="text" placeholder="Place">
							</div>
							<div class="input-group mb-2 mr-sm-2 mb-sm-2">
								<div class="input-group-addon"><i class="fa fa-calendar-times-o" aria-hidden="true"></i></div>
								<input class="form-control" name="day" type="text" placeholder="Day of the Week">
							</div>
							<div class="input-group mb-2 mr-sm-2 mb-sm-2">
								<div class="input-group-addon"><i class="fa fa-clock-o" aria-hidden="true"></i></div>
								<input class="form-control" name="time" type="text" placeholder="Time">
							</div>
							<input type="submit" class="log-in-submit btn btn-primary">
						</form>
						<!-- End of Create an Event -->
				  </div>
				</div>

			</section>
		</section>
	<% } %>

		<!-- CTA -->
		<section id="cta">

			<h2>Sign up for our newsletter</h2>
			<p>Be the first to know about updates, new functionalities and what our dev team is working on.</p>

			<form>
				<div class="row uniform 50%">
					<div class="8u 12u(mobilep)">
						<input type="email" name="email" id="email" placeholder="Email Address" />
					</div>
					<div class="4u 12u(mobilep)">
						<input type="submit" value="Sign Up" class="fit" />
					</div>
				</div>
			</form>

		</section>

<% include ./partials/footer.ejs %>
