<% include ./partials/header.ejs %>

	<!-- Main -->
		<section id="main" class="container">
			<header>
				<h2>Generic</h2>
				<p>A generic page for every non-generic situation.</p>
			</header>
			<div class="box">
				<h3>Welcome Users</h3>
				<a href="/logout">Logout</a>
			</div>
		</section>

<% include ./partials/footer.ejs %>
