<% include ./partials/header.ejs %>

  <section id="signup" class="box special">
    <header class="major">
      <h2>Sign Up</h2>
    </header>
    <div class="col-sm-6 offset-sm-3">
      <form class="register" action="/user/register" method="POST" class="signup-form">
        <div class="input-group mb-2 mr-sm-2 mb-sm-2">
          <div class="input-group-addon"><i class="fa fa-heart" aria-hidden="true"></i></div>
          <input name="name" type="text" class="text-input form-control" placeholder="first and last name">
        </div>
        <div class="input-group mb-2 mr-sm-2 mb-sm-2">
          <div class="input-group-addon"><i class="fa fa-envelope" aria-hidden="true"></i></div>
          <input name="email" type="text" class="text-input form-control" placeholder="email">
        </div>
        <div class="input-group mb-2 mr-sm-2 mb-sm-2">
          <div class="input-group-addon"><i class="fa fa-envelope" aria-hidden="true"></i></div>
          <input name="password" type="password" class="text-input form-control" placeholder="password">
        </div>
        <div class="input-group mb-2 mr-sm-2 mb-sm-2">
          <div class="input-group-addon"><i class="fa fa-eye" aria-hidden="true"></i></div>
          <input name="passwordConfirmation" type="password" class="text-input form-control" placeholder="password confirmation">
        </div>
        <input type="submit" class="sign-up-submit btn btn-primary">
      </form>
    </div>
  </section>

<% include ./partials/footer.ejs %>
